/*
	Feuille de style operation.css
	version 1.2
	
	v1.0 : initialisation de la feuille
	v1.1 : ajout du style ....
	v1.2 : prise en compte du CSS 3
*/

div {
	text-align: center;
}

input {
	width: 100px;
}

#operation {	
	margin-top: 7%;
}

#navigation {
	margin-top: 14%;
}

#operateur {
	font-size: 50px;
	font-weight: bold;
	margin-left: 50px;
	margin-right: 50px;
}	

#egal {
	font-size: 50px;
	font-weight: bold;
	padding-left: 15px;
	padding-right: 15px;
	margin-right: 50px;
}

#operation div {
	margin-bottom: 4%;
}

#navigation button {
	margin-right: 25px;
	margin-left: 25px;
	width: 120px;
	font-size: 30px;
}

#op1 {
	font-size: 30px;
	text-align: center;
}

#op2 {
	font-size: 30px;
	text-align: center;
}

#resultat {
	font-size: 30px;
	color: red;
	font-weight: bold;
	text-align: center;
}


